<!-- BEGIN_INCLUDE(sqs:send-message) -->
<sqs:send-message/>
<!-- END_INCLUDE(sqs:send-message) -->
<!-- BEGIN_INCLUDE(sqs:receive-messages) -->
<sqs:receive-messages/>
<!-- END_INCLUDE(sqs:receive-messages) -->
<!-- BEGIN_INCLUDE(sqs:delete-message) -->
<sqs:delete-message receiptHandle="xxx"/>
<!-- END_INCLUDE(sqs:delete-message) -->

